.logo, 
.logo:hover {
    font-family: Georgia, Times, serif;
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    display: block;
    padding: 15px 0 0 15px;
    color: #87aa3a;
    text-decoration: none;
}
.logo-tag {
    display: inline-block;
    padding-left: 15px;
    color: #515151;
    /*font-family: ProximaLight;*/
    font-family: proxima-nova-alt, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    line-height: 0;
}
.tagline {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -21px;
    background-color: #6e8270;
    color:#fff;
    font-size: 14px;
}
/*overrides */
.navbar-default .navbar-nav>li>a.nav-item {
    color: #6e8270;
}
@media (min-width: 768px){
    .navbar-default .navbar-nav>li>a.nav-item {
    padding-top: 52px;
    }
}
.navbar-default .navbar-nav>li>a.nav-item:hover {
    color: #87aa3a;
}
.navbar.navbar-default {
    background-color: #fbfdfc;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: #87aa3a;
}
.dropdown-menu>li>a {
    color: #6e8270;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.dropdown-menu>li>a:hover{
    background-color: #6e8270;
    color: #fff;
}
.dropdown-menu {
    padding: 0;
    background-color: #fbfdfc;
    border-radius: 1px;
}
@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #6e8270;
    text-align: left;
    border-top: 1px solid #dee3de;
    padding-top: 5px;
    padding-bottom: 5px;
    }
}    
.navbar-default .navbar-toggle .icon-bar{
    background-color: #6e8270;
}
.navbar-default .navbar-toggle{
    border-color: #6e8270;
}
.navbar-default .navbar-toggle:hover{
    background-color: #f8f8f2;
}
.navbar-default .navbar-toggle:focus{
    background-color: #f8f8f2;
}
@media(min-width: 768px){
    .tagline {
    padding-left: 30px;
    }
}
.navbar-nav>li>.dropdown-menu {
    -webkit-box-shadow: 3px 2px 0px(0,0,0,.175)!important; 
    box-shadow: 3px 2px 0px rgba(0,0,0,.175)!important;
    border: none!important;
}
