h3.funder-style {
	margin-top: 1px;
}
.issn-style{
	padding-top: 10px;
}
h5.compliant{
	color: #87aa3a;
	margin-bottom: 0;
}
.can-publish{
	color: #6e8270;
}
.result-info{
	margin-bottom: 0;
}
.compliant-link {
	text-decoration: underline;
	color: #6e8270;
}
.compliant-link:hover {
	color: #87aa3a;
}
.non-compliant-link {
	text-decoration: underline;
	color: #414141;
}
.non-compliant-link:hover {
	color: #000;
}
.panel-heading.toggle-more-info {
	background-color: #435d39;
	border-radius: 0px;
}
a.toggle-text {
	color: #fff;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.toggle-text:before{
	font-family: FontAwesome;
	content: "\f0fe";
}
.toggle-text.collapsed:before{
	font-family: FontAwesome;
	content: "\f146";/*minus "\f146";*/
}
.additional-info {
	margin-top: 25px;
}
input.link-box{
	border: 1px solid #414141;
	padding: 15px;
	-moz-box-shadow: inset 0px 0px 3px #ccc;
    -webkit-box-shadow: inset 0px 0px 3px #ccc;
    box-shadow: inset 0px 0px 3px #ccc;
    margin-bottom: 25px;
    width: 100%;
}
#intro-one {
	color: #fff;
	background-color: #435d39;
}
.panel-body {
	background-color: #fff;
	color: #414141;
	padding-left: 0;
	padding-right: 0;
}
h4.path-heading{
	text-transform: uppercase;
	/*font-family: Proxima;*/
    font-family: proxima-nova-alt, sans-serif;
    font-weight: 600;
    font-style: normal;
	font-size: 16px;
	color: #6e8270;
	padding-left: 15px;
	padding-left: 15px;
	padding-bottom: 5px;
}
.zebra-green.path{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.zebra-green.path p{
	margin-bottom: 0;
}
.zebra-red {
	background-color: #f6e9e7;
}
.path-secondary {
	padding-left: 15px;
	padding-right: 15px;
	/*font-family: ProximaLight;*/
    font-family: proxima-nova-alt, sans-serif;
    font-weight: 100;
    font-style: normal;
	padding-top: 7px;
}
a.zebra-link {
	color: #414141;
	text-decoration: underline;
}