.form-control.sherpa-form {
	border-radius: 1px;
	border: 1px solid #6e8270;
	/*font-family: Proxima;*/
    font-family: proxima-nova-alt, sans-serif;
    font-weight: 600;
    font-style: normal;
}
::-webkit-input-placeholder {
	/*font-family: ProximaItalic;*/
    font-family: proxima-nova-alt, sans-serif;
    font-weight: 100;
    font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
	/*font-family: ProximaItalic;*/
    font-family: proxima-nova-alt, sans-serif;
    font-weight: 100;
    font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
	/*font-family: ProximaItalic;*/
    font-family: proxima-nova-alt, sans-serif;
    font-weight: 100;
    font-style: italic;
}

:-ms-input-placeholder {  
	/*font-family: ProximaItalic;*/
    font-family: proxima-nova-alt, sans-serif;
    font-weight: 100;
    font-style: italic;
}

.select2-results-dept-0.select2-result.select2-result-selectable.select2-highlighted {
	background-color: #87aa3a;

}
.select2-search-choice {
	/*font-family: ProximaLight;*/
    font-family: proxima-nova-alt, sans-serif;
    font-weight: 100;
    font-style: italic;
	color: #414141;
}

/* different font for placeholder text in select2 */
.select2-container-multi .select2-choices .select2-search-field input {
    /*font-family: ProximaItalic;*/
    font-family: proxima-nova-alt, sans-serif;
    font-weight: 100;
    font-style: italic;
}
.select2-container-multi.select2-container-active .select2-choices .select2-search-field input {
    /*font-family: Proxima;*/
    font-family: proxima-nova-alt, sans-serif;
    font-weight: 600;
    font-style: normal;
}
.select2-container-multi .select2-choices .select2-search-choice{
	background-color: #fff;
	border-color: #6e8270;
}
.search-message {
	font-size: 18px;
	color: #414141;
    font-weight: 600;
}
a.feedback-link{
	/*font-family: ProximaLight;*/
    font-family: proxima-nova-alt, sans-serif;
    font-weight: 100;
    font-style: normal;
	color: #414141;
	text-decoration: underline;
	font-size: 16px;

}
