<div class="search-box">
    <form class="login-form" role="login">
        <ol>
            <li>
                <h2 class="form-heading">Search for journals</h2>
                <div class="form-group">
                    <input type="text" class="form-control sherpa-form" placeholder="Title or ISSN" id="title_issn">
                </div>
            </li>
            <li>
                <div class="form-group string input required">
                    <h2 class="form-heading"> Please select the funder(s)</h2>
                    <div class="form-group">
                        <select id="funders-select" class="form-control sherpa-form" multiple="true" placeholder="Please select the funder(s)">
                            <option value="Arthritis">Arthritis Research UK</option>
                            <option value="AHRC">Art & Humanities Research Council (AHRC)</option>
                            <option value="BBSRC">Biotechnology and Biological Sciences Research Council (BBSRC)</option>
                            <option value="BC">Breast Cancer Research</option>
                            <option value="BHF">British Heart Foundation (BHF)</option>
                            <option value="CRUK">Cancer Research UK</option>
                            <option value="ESRC">Economic and Social Research Council (ESRC)</option>
                            <option value="EPSRC">Engineering and Physical Sciences Research Council(EPSRC)</option>
                            <option value="LLR">Leukaemia and Lymphoma Research</option>
                            <option value="MRC">Medical Research Council(MRC)</option>
                            <option value="NERC">Natural Environment Research Council (NERC)</option>
                            <option value="STFC">Science & Technology Facilities Council (STFC)</option>
                            <option value="WT">Wellcome Trust</option>
                        </select>
                    </div>
                </div>
            </li>
        </ol>
        <div class="clearfix">
            <a class="btn search-button pull-right">Search</a>
            <button id="clear-select" type="reset" value="Clear" class=" btn clear-button pull-right">Clear</button>
        </div>
    </form>
</div>