{% extends "base.html" %}

{% block content %}

<div class="row gradient">
    <div class="col-sm-12">
        {% include "_search_panel.html" %}
        <div id="provisional-results"></div>
    </div>
</div>

{% endblock %}


{% block extra_js_bottom %}
<!-- get the octopus js (must be done first) -->
<script type="text/javascript" src="{{url_for('static', filename='js/octopus.js')}}"></script>

<!-- get the application config -->
<script type="text/javascript" src="{{url_for('configjs.javascript_config')}}"></script>

<!-- get all of the module javascript libraries (implementers will want to enable/disable the relevant parts here, as you won't want to load all of them) -->
<script type="text/javascript" src="{{url_for('static', filename='js/es/autocomplete.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/sherpafact/fact.js')}}"></script>

<script type="text/javascript">
$(document).ready(function() {
    $("#funders-select").select2({
        placeholder: 'Click to select Funders'
    });

    $("#clear-select").click(function(event) {
        event.preventDefault();
        $("#funders-select").select2("val", "");
        $("#title_issn").select2("val", "");
        $("#not-found").hide();
        $("#form-errors").hide();
    });

    function titleIssnFormat(result) {
        var identifier = "";
        var display = result.journal;

        if (result.issn && result.issn.length > 0) {
            identifier = result.issn[0];
            display += " (ISSN: " + result.issn.join(", ") + ")";
        } else {
            identifier = result.journal;
        }

        return {id : identifier, text: display};
    }

    octopus.esac.bindCompoundAutocomplete({
        selector : "#title_issn",
        minimumInputLength : 3,
        placeholder :"Title or ISSN",
        type : "journal",
        format : titleIssnFormat,
        allow_clear : true,
        allow_any: true
    });

    $("#do-search").click(function(event) {
        event.preventDefault();

        function factResults(data) {
            var fact = octopus.sherpafact.newFact({raw : data});
            $("#searching").hide();
            if (fact.result_count() === 0) {
                $("#not-found").show()
            }
            $("#provisional-results").html("<pre>" + fact.result_count() + "</pre>")
        }

        $("#form-errors").hide();
        $("#searching").show();

        var joi = $("#title_issn").val();
        var fs = $("#funders-select").val();

        if (joi === "" || !fs || fs.length === 0) {
            $("#form-errors").show();
            return;
        }

        octopus.sherpafact.proxy({
            journal_or_issn: joi,
            funders: fs,
            success: factResults
        });
    });
});
</script>
{% endblock%}